# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/nyrvalos/baselayer-full.jpg
public/nyrvalos/baselayer-full.png
public/nyrvalos/baselayer-low.jpg
public/nyrvalos/baselayer-low.png
public/nyrvalos/baselayer-med.jpg
public/nyrvalos/baselayer-med.png
public/nyrvalos/heightmap-full.png
public/nyrvalos/heightmap-low.png
public/nyrvalos/heightmap-med.png
public/nyrvalos/heightmapVector-full.png
public/nyrvalos/heightmapVector-low.png
public/nyrvalos/heightmapVector-med.png
public/nyrvalos/misc-full.png
public/nyrvalos/misc-low.png
public/nyrvalos/misc-med.png
public/nyrvalos/terrain-full.png
public/nyrvalos/terrain-low.png
public/nyrvalos/terrain-med.png
